{
    "webhook": "https://your.mattermost.org/hooks/<yourwebhook>",
    "feeds": [
        {
            "feedurl": "http://rsgb.org/feed/"
        },
        {
            "feedurl": "http://www.arrl.org/news/rss"
        },
        {
            "feedurl": "http://www.southgatearc.org/sarc.rss"
            "filter": ["radio", "DX", "antenna"]   
        }       
    ]
}
