#
# Please note that apart from the comments starting with a #,
# this should be a valid json file. The brackets, comma's and
# accolades have meaning and purpose. Please take care when
# editing this file, the errors from the json parser can be
# a bit hard to read.
#
{
    # The webhook is what you configured as "incoming webhook"
    # on your Mattermost channel.
    # If you uncomment this line then newsfeed.py will not
    # post to your channel, but print it to standard out.
    # You can use this to debug your configuration.
    # "webhook": "https://your.mattermost.org/hooks/<yourwebhook>",

    # The "feeds" element contains all your feeds. RSS entries
    # in each of these feeds will be posted to the webhook above.
    "feeds": [
        {
            # The "feedurl" element contains the url of the rss file.
            "feedurl": "http://rsgb.org/feed/"
        },
        {
            "feedurl": "http://www.arrl.org/news/rss"
        },
        {
            "feedurl": "http://www.southgatearc.org/sarc.rss",

            # The "filter" element is optional. When it is present,
            # newsfeed.py will only post news articles which contain
            # one or more words in the filter. The filter is case-
            # insensitive.
            "filter": ["radio", "DX", "antenna"]   
        }       
    ]
}
