#
# Please note that apart from the comments starting with a #,
# this should be a valid json file. The brackets, commas and
# accolades have meaning and purpose. Please take care when
# editing this file, the errors from the json parser can be
# a bit hard to read.
#
{
    # The webhook is what you configured as "incoming webhook"
    # on your Mattermost channel.
    # If you uncomment this line then newsfeed.py will not
    # post to your channel, but print it to standard out.
    # You can use this to debug your configuration.
    # "webhook": "https://your.mattermost.org/hooks/<yourwebhook>",

    # The "feeds" element contains all your feeds. RSS entries
    # in each of these feeds will be posted to the webhook above.
    "feeds": [
        {
            # The "feedurl" element contains the url of the rss file.
            "feedurl": "http://rsgb.org/feed/"
        },
        {
            "feedurl": "http://www.arrl.org/news/rss"
        },
        {
            "feedurl": "http://www.southgatearc.org/sarc.rss",

            # The "username" element is optional. When present,
            # newsfeed.py will post the article with the given
            # username. If it is not present, newsfeed.py will
            # use the top level domain name of the rss feed as
            # username.
            "username": "Southgate Amateur Radio News",

            # The "include" element is optional. When it is present,
            # newsfeed.py will only post news articles which contain
            # one or more of the listed words. The filter is case-
            # insensitive.
            "include": ["radio", "DX", "antenna"],

            # The "exclude" element is optional. When it is present,
            # newsfeed.py will only post news articles which do not
            # contain one or more of the listed words, EVEN if the
            # article contains words from the "include" list.
            "exclude": ["uninteresting", "wichhunt"]   
        },
        {
            # newsfeed has custom support for twitrss.me links and
            # will correctly identify the username of the feed to 
            # create separate id files for separate twitrss feeds,
            # and will create a different looking payload for tweets.

            "username": "Omproep Flevoland",
            "feedurl": "https://twitrss.me/twitter_user_to_rss/?user=omroepflevoland",
            "include": ["radio", "antenne"],

            # in each feed, the default webhook can be overrided so
            # that you can send feeds to a different channel. The webhook
            # property can be a single string or an array of strings.
            "webhook": ["https://your.mattermost.org/hooks/<yourwebhook1>",
                        "https://your.mattermost.org/hooks/<yourwebhook2>"],

            # If a propert "nopost" exists with the value "False", the items in
            # the newsfeed will be recorded in the id file, but will not be 
            # sent to the webhook. This for catching up after loosing an id
            # file without reposting old news.
            "post" : "False"
        }
    ]
}
